<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	
	<!-- user start -->
	<servlet>
		<servlet-name>UserSaveController</servlet-name>
		<servlet-class>com.ljh.bookstore.controller.UserSaveController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserSaveController</servlet-name>
		<url-pattern>/manage/user/save</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserManagerController</servlet-name>
		<servlet-class>com.ljh.bookstore.controller.UserManagerController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserManagerController</servlet-name>
		<url-pattern>/manage/user/manager</url-pattern>
	</servlet-mapping>
	<!-- user end -->
	
	<!-- car start -->
	<servlet>
		<servlet-name>CarSaveController</servlet-name>
		<servlet-class>com.ljh.bookstore.controller.CarSaveController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CarSaveController</servlet-name>
		<url-pattern>/manage/car/save</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CarManagerController</servlet-name>
		<servlet-class>com.ljh.bookstore.controller.CarManagerController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CarManagerController</servlet-name>
		<url-pattern>/manage/car/manager</url-pattern>
	</servlet-mapping>
	<!-- car end -->
	
	<!-- message start -->
	<servlet>
		<servlet-name>MessageSaveController</servlet-name>
		<servlet-class>com.ljh.bookstore.controller.MessageSaveController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageSaveController</servlet-name>
		<url-pattern>/manage/message/save</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MessageManagerController</servlet-name>
		<servlet-class>com.ljh.bookstore.controller.MessageManagerController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageManagerController</servlet-name>
		<url-pattern>/manage/message/manager</url-pattern>
	</servlet-mapping>
	<!-- message end -->
	
	<!-- consumer start -->
	<servlet>
		<servlet-name>ConsumerSaveController</servlet-name>
		<servlet-class>com.ljh.bookstore.controller.ConsumerSaveController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConsumerSaveController</servlet-name>
		<url-pattern>/manage/consumer/save</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ConsumerManagerController</servlet-name>
		<servlet-class>com.ljh.bookstore.controller.ConsumerManagerController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConsumerManagerController</servlet-name>
		<url-pattern>/manage/consumer/manager</url-pattern>
	</servlet-mapping>
	<!-- consumer end -->
	
	<!-- login start -->
	<servlet>
		<servlet-name>LoginSaveController</servlet-name>
		<servlet-class>com.ljh.bookstore.controller.LoginSaveController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginSaveController</servlet-name>
		<url-pattern>/manage/login/save</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginManagerController</servlet-name>
		<servlet-class>com.ljh.bookstore.controller.LoginManagerController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginManagerController</servlet-name>
		<url-pattern>/manage/login/manager</url-pattern>
	</servlet-mapping>
	<!-- login end -->

	<!-- href start -->
	<servlet>
		<servlet-name>HrefSaveController</servlet-name>
		<servlet-class>com.ljh.bookstore.controller.HrefSaveController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HrefSaveController</servlet-name>
		<url-pattern>/manage/href/save</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>HrefManagerController</servlet-name>
		<servlet-class>com.ljh.bookstore.controller.HrefManagerController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HrefManagerController</servlet-name>
		<url-pattern>/manage/href/manager</url-pattern>
	</servlet-mapping>
	<!-- href end -->
	
	<!-- porder start -->
	<servlet>
		<servlet-name>PorderSaveController</servlet-name>
		<servlet-class>com.ljh.bookstore.controller.PorderSaveController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PorderSaveController</servlet-name>
		<url-pattern>/manage/porder/save</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PorderManagerController</servlet-name>
		<servlet-class>com.ljh.bookstore.controller.PorderManagerController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PorderManagerController</servlet-name>
		<url-pattern>/manage/porder/manager</url-pattern>
	</servlet-mapping>
	<!-- porder end -->
	
	<!-- order start -->
	<servlet>
		<servlet-name>OrderSaveController</servlet-name>
		<servlet-class>com.ljh.bookstore.controller.OrderSaveController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderSaveController</servlet-name>
		<url-pattern>/manage/order/save</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>OrderManagerController</servlet-name>
		<servlet-class>com.ljh.bookstore.controller.OrderManagerController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderManagerController</servlet-name>
		<url-pattern>/manage/order/manager</url-pattern>
	</servlet-mapping>
	<!-- order end -->
	
	<!-- manage start -->
	<servlet>
		<servlet-name>ManageSaveController</servlet-name>
		<servlet-class>com.ljh.bookstore.controller.ManageSaveController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManageSaveController</servlet-name>
		<url-pattern>/manage/manage/save</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ManageManagerController</servlet-name>
		<servlet-class>com.ljh.bookstore.controller.ManageManagerController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManageManagerController</servlet-name>
		<url-pattern>/manage/manage/manager</url-pattern>
	</servlet-mapping>
	<!-- manage end -->
	
	<!-- store start -->
	<servlet>
		<servlet-name>StoreSaveController</servlet-name>
		<servlet-class>com.ljh.bookstore.controller.StoreSaveController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StoreSaveController</servlet-name>
		<url-pattern>/manage/store/save</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>StoreManagerController</servlet-name>
		<servlet-class>com.ljh.bookstore.controller.StoreManagerController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StoreManagerController</servlet-name>
		<url-pattern>/manage/store/manager</url-pattern>
	</servlet-mapping>
	<!-- store end -->
	
	<!-- role start -->
	<servlet>
		<servlet-name>RoleSaveController</servlet-name>
		<servlet-class>com.ljh.bookstore.controller.RoleSaveController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoleSaveController</servlet-name>
		<url-pattern>/manage/role/save</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RoleManagerController</servlet-name>
		<servlet-class>com.ljh.bookstore.controller.RoleManagerController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoleManagerController</servlet-name>
		<url-pattern>/manage/role/manager</url-pattern>
	</servlet-mapping>
	<!-- role end -->
	
	<!-- advertisement start -->
	<servlet>
		<servlet-name>AdvertisementSaveController</servlet-name>
		<servlet-class>com.ljh.bookstore.controller.AdvertisementSaveController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdvertisementSaveController</servlet-name>
		<url-pattern>/manage/advertisement/save</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdvertisementManagerController</servlet-name>
		<servlet-class>com.ljh.bookstore.controller.AdvertisementManagerController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdvertisementManagerController</servlet-name>
		<url-pattern>/manage/advertisement/manager</url-pattern>
	</servlet-mapping>
	<!-- advertisement end -->
	
	<!-- explanation start -->
	<servlet>
		<servlet-name>ExplanationSaveController</servlet-name>
		<servlet-class>com.ljh.bookstore.controller.ExplanationSaveController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExplanationSaveController</servlet-name>
		<url-pattern>/manage/explanation/save</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ExplanationManagerController</servlet-name>
		<servlet-class>com.ljh.bookstore.controller.ExplanationManagerController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExplanationManagerController</servlet-name>
		<url-pattern>/manage/explanation/manager</url-pattern>
	</servlet-mapping>
	<!-- explanation end -->
	

	<!-- menu start -->
	<servlet>
		<servlet-name>MenuSaveController</servlet-name>
		<servlet-class>com.ljh.bookstore.controller.MenuSaveController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MenuSaveController</servlet-name>
		<url-pattern>/manage/menu/save</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MenuManagerController</servlet-name>
		<servlet-class>com.ljh.bookstore.controller.MenuManagerController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MenuManagerController</servlet-name>
		<url-pattern>/manage/menu/manager</url-pattern>
	</servlet-mapping>
	<!-- menu end -->

	<servlet>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>com.ljh.bookstore.controller.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginValidateController</servlet-name>
		<servlet-class>com.ljh.bookstore.controller.LoginValidateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginValidateController</servlet-name>
		<url-pattern>/login-validate</url-pattern>
	</servlet-mapping>

	<!-- shop manage start -->
	<servlet>
		<servlet-name>ShopSaveController</servlet-name>
		<servlet-class>com.ljh.bookstore.controller.ShopSaveController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShopSaveController</servlet-name>
		<url-pattern>/manage/shop/save</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ShopManagerController</servlet-name>
		<servlet-class>com.ljh.bookstore.controller.ShopManagerController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShopManagerController</servlet-name>
		<url-pattern>/manage/shop/manager</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ShopClassifyController</servlet-name>
		<servlet-class>com.ljh.bookstore.controller.ShopClassifyController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShopClassifyController</servlet-name>
		<url-pattern>/manage/shop/classify</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ShopClassifySaveController</servlet-name>
		<servlet-class>com.ljh.bookstore.controller.ShopClassifySaveController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShopClassifySaveController</servlet-name>
		<url-pattern>/manage/shop/classify_save</url-pattern>
	</servlet-mapping>
	<!-- shop manage end -->


	<servlet>
		<servlet-name>SignController</servlet-name>
		<servlet-class>com.ljh.bookstore.controller.SignController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignController</servlet-name>
		<url-pattern>/sign</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
		>
	</error-page>

</web-app>
